@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

body{
    background-color: #091b16;
    color: hsl(163, 70%, 80%);
    font-family: "Anek Devanagari", sans-serif;
}

h1{
    color: hsl(163, 100%, 95%);
    font-size: 24px;
    font-weight: 200;
}