@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reseteo */

body{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: hsl(291, 48%, 14%);
    color: hsl(291, 70%, 76%);
}
main{
    width: 768px;
    margin: auto;
}
section{
    height: 380px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: hsl(291, 48%, 8%);
}  
article{
    width: 144px;
    height: 80px;
    background-color: hsl(291, 70%, 76%);
    border: 2px solid hsl(291, 100%, 50%);
}

#horizontal{
    display: flex;
    /* Distribución en el eje X (horizontal) */
    /* justify-content: start; /* Predeterminado: a la izquierda */
    /* justify-content: end; /* a la derecha */
    justify-content: center;
}

#separaciones{
    display: flex;
    /* Separación en el eje X */
    justify-content: space-evenly
}

#vertical{
    display: flex;
    /* Distribución en el eje Y (vertical) */
    /* align-items: start; /* predeterminado: arriba */
    /* align-items: end; /* debajo */
    align-items: center;
}